body{
    
    background-image:url("aurora.jpg");
    background-size: cover;
}
#app {
    background-color:#a8c66c;
    margin: 1% 7%;
}
#loginPage {
    margin: 25%;
    
}
#loginPage h3 {
    text-align: center;
}