body{
    
    background-image:url("aurora.jpg");
    background-size: cover;
}
#app {
    background-color:#a8c66c;
    margin: 1% 7%;
}
#loginView {
    margin: 25%;
    
}
#loginView h3 {
    text-align: center;
}

#customerView {
    margin: 25%;
}

#customerView h3,h4 {
    text-align: center;
}